<h4>My books recommendations</h4>

<div class="row-fluid book-item">
  <div class="span2">
    <a href="http://www.amazon.com/gp/product/0321601912/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0321601912&linkCode=as2&tag=distplac05-20&linkId=PDPDPIYNPKMH5JRP"><img src="/assets/imgs/book_delivery.png" width="93"/></a>
  </div>
  <div class="span10">
    <p>Great book for operations people. Helped me to design and build solid deployment pipelines. Awesome advices on automated testing as well. The author advocates against feature branches, every commit goes to master! Scary? I know, but it actually makes sense once you get the idea. Read the book to find out more.</p>
    <p>One of those rare books where every word counts!</p>
  </div>
</div>

<div class="row-fluid book-item">
  <div class="span2">
    <a href="http://www.amazon.com/gp/product/1449377440/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449377440&linkCode=as2&tag=distplac05-20&linkId=NTJJEULKMUDO4YW5"><img src="/assets/imgs/book_weboperations.gif" width="93"/></a>

  </div>
  <div class="span10">
    <p>Classics from <a href="http://www.kitchensoap.com">John Allspaw</a> who is SVP of Infrastructure and Operations at Etsy (and used to work for Flickr). The book covers very important topics like metrics collection, continuous deployment, monitoring, dealing with unexpected traffic spikes, dev and ops collaboration and much more. Def recommend if you are starting out in the operations field or been doing it for a while ( in latter case you probably read this book already :). </p>
  </div>
</div>

<div class="row-fluid book-item">
  <div class="span2">
    <a href="http://www.amazon.com/gp/product/0132350882/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0132350882&linkCode=as2&tag=distplac05-20&linkId=DPBU37QXHVJFB6HP"><img src="/assets/imgs/book_cleanCode.jpg"/></a>

  </div>
  <div class="span10">
    <p>This book is must read for every software engineer, no matter which language you use! It will change your perspective on writing code. I was amazed by the quality of material - very detailed and up to the point.</p>
    <p>"The only way to make the deadline -- the only way to go fast -- is to keep the code as clean as possible at all times."</p>
  </div>
</div>

